*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/src/androidTest
/app/src/test
/wsjlib/src/androidTest
/wsjlib/src/test
.gitignore
/commonlib/src/test
/commonlib/src/androidTest
/aliload/src/androidTest/
/aliload/src/test/
/aliload/build/
