<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="per.wsj.commonlib">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".permission.PermissionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/TransparentActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
    </application>

</manifest>
